.Lennyn {
    color: #00FF00;
}
h1 {
    font-family: 'Roboto', sans-series;
}
.rice {
    background-color:#f5f542;
}
img {
    width: 50%;
}
.white {
    color: #FFFFFF;
}
.blue {
    color: #1a1aff;
}
.purple {
    color: #cc00cc;
}